.c-results {
  display: flex;

  p {
    font-size: 18px;
    border-right: 2px solid #e0e0e0;
    padding-right: 6px;
    padding-left: 6px;
    margin: 0;
    
    &:first-child {
      border-left: 2px solid #e0e0e0;
    }

    &:last-child {
      border-right: none;
    }
  }
}

.success {
  color: #2a992e;
}

.fail {
  color: #F44336;
}
