.c-user-typings {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;

  span {
    margin: 0;
    font-size: 32px;
    word-spacing: 20px;
    line-height: 50px;
    color: #1d8a99;
  }
}
