html {
  height: 100dvh;
  background-color: #1d8a99;
}

body {
  height: 100dvh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 768px) {
    align-items: flex-start;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
span,
p {
  font-family: Ubuntu, Arial, sans-serif;
}

h1 {
  font-size: 40px;
  margin: 0 0 24px;

  @media (max-width: 768px) {
    margin-top: 12px;
    font-size: 32px;
  }
}
